.about {
  position: relative;
  z-index: 20;
  margin-bottom: -30px;
  padding: 31px 50px 79px;

  border-radius: 0 0 30px 30px;
  background-color: $midnight;
  background-image: url("../../img/about-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
}

.about__title {
  @include section-title;
  margin-bottom: 21px;
}

.about__description {
  @include reset-margin-padding;
  width: 222px;
  margin-bottom: 20px;
  color: #ffffff;
}

.about__resume {
  @include reset-margin-padding;
  width: 225px;

  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}

.about__button {
  display: none;
}

@media (min-width: $tablet-width) {
  .about {
    border-radius: 0 0 60px 60px;
    background-color: $midnight;
    padding: 49px 75px 87px;
    background-image: url("../../img/about-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: 384px 54px;
    background-size: 49%;
  }

  .about__title {
    margin-bottom: 39px;
  }

  .about__description {
    margin-bottom: 32px;
    width: 300px;

    font-size: 28px;
    font-weight: 300;
    line-height: 33px;
  }

  .about__resume {
    width: 300px;
    margin-bottom: 53px;

    font-size: 21px;
    font-weight: 700;
    line-height: 25px;
  }

  .about__button {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .about {
    padding: 134px 60px 163px 132px;
    background-image: url("../../img/about-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: 750px 82px;
    background-size: 44%;
  }

  .about__description {
    margin-bottom: 38px;
    width: 615px;
  }

  .about__title {
    width: 610px;
    margin-bottom: 57px;
  }

  .about__resume {
    margin-bottom: 85px;
    width: 420px;
  }
}
