
.card-direction {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 31px 28px 23px 25px;
}

.card-direction__title {
  @include reset-margin-padding;
  font-weight: 700;
  line-height: 21px;
}

.card-direction__flag {
  position: absolute;
  top: -12px;
}

.card-direction__slogan {
  @include reset-margin-padding;
  width: 100%;
  order: 2;
  color: rgba($grey, 0.3);
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.card-direction__visitors {
  color: rgba($grey, 0.3);
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

@media (min-width: $tablet-width) {
  .card-direction {
    display: block;
    padding: 31px 28px 15px 31px;
  }

  .card-direction__flag {
    position: absolute;
    top: 12px;
    right: -56px;
    width: 70px;
  }

  .card-direction__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 5px;
  }

  .card-direction__slogan {
    font-size: 20px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 16px;
  }

  .card-direction__visitors {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
  }
}

@media (min-width: $desktop-width) {
  .card-direction {
    padding-top: 25px;
  }

  .card-direction__slogan {
    margin-bottom: 22px;
  }
}
