.cards-people__list {
  @include reset-list;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards-people__avatar {
  float: left;
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

.cards-people__item {
  position: relative;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 15px 18px 77px;
  width: 270px;

  border-radius: 20px;
  background-color: #ffffff;

  color: $grey;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
}

.cards-people__name {
  @include reset-margin-padding;
  width: 100px;
  margin-left: 85px;
  min-height: 30px;
  margin-bottom: 3px;
  color: #1d2e5b;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
}

.cards-people__second-name {
  display: block;
}

.cards-people__actions {
  margin-bottom: 18px;
}

.cards-people__likes {
  left: -20px;
  position: relative;
  border: none;
  padding-left: 36px;
  min-height: 22px;
  color: #161c35;
  font-family: $bloggersans;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  background-color: transparent;
}

.cards-people__tags {
  margin-top: 0;
  margin-bottom: 14px;
  padding-left: 8px;
  width: 185px;
}

.cards-people__counties-list {
  @include reset-list;
}

.cards-people__country-name {
  color: #1d2e5b;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
}

.cards-people__level {
  text-align: center;
  box-sizing: border-box;
  height: 45px;
  width: 45px;
  color: #1d2e5b;
  font-size: 24px;
  font-weight: 700;
  line-height: 47px;
  border-radius: 50%;
  border: 2px solid $orange;
}

.cards-people__button {
  position: absolute;
  bottom: 20px;
  width: calc(100% - 40px);
  color: #161c36;
  letter-spacing: 0;
}

.cards-people__preferences-wrapper {
  margin-left: 8px;
}

.cards-people__country-wanted {
  margin-top: 0;
  margin-bottom: 16px;
}

.cards-people__transport-level-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.cards-people__level-title {
  margin: 0 0 5px;
}

.cards-people__level-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cards-people__transport-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cards-people__transport {
  margin: 0;
  margin-bottom: 14px;
}

.transports-list__item {
  height: 33px;
  width: 33px;
  background-color: black;
  border-radius: 50%;
}

.cards-people__country-wrapper {
  margin-bottom: 12px;
}

.cards-people__country-name {
  margin-left: 14px;
}

.cards-people__country-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.cards-people__paginator-wrapper {
  margin-bottom: 60px;
  text-align: center;
}

.cards-people__show-more {
  display: inline-block;
  margin-bottom: 18px;
  padding-left: 28px;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
}

.people-paginator {
  display: flex;
  justify-content: center;
}

.people-paginator__button {
  position: relative;
  width: 135px;
  font-size: 0;
  height: 50px;
  background-color: #ffffff;
  border: none;
}

.people-paginator__button--prev {
  margin-right: 1px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.people-paginator__button--next {
  margin-right: 1px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.people-paginator__button::before {
  position: absolute;
  top: 15px;
  content: "";
  box-sizing: border-box;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.people-paginator__button--prev::before {
  right: 63px;
  border-right: 10px solid $midnight;
}

.people-paginator__button--next::before {
  left: 63px;
  border-left: 10px solid $midnight;
}

@media (min-width: $tablet-width) {
  .cards-people__list {
    margin-bottom: 46px;
  }

  .cards-people__item {
    display: flex;
    flex-wrap: wrap;
    width: 688px;
    padding: 35px 25px 9px 35px;
    margin-bottom: 40px;
  }

  .cards-people__item:last-child {
    margin-bottom: 0;
  }

  .cards-people__name {
    margin: 0 0 16px;
    width: auto;
    font-weight: 700;
    font-size: 30px;
    line-height: 27px;
  }

  .cards-people__item-wrapper {
    display: flex;
    margin-left: 33px;
    width: calc(100% - 230px);
    flex-shrink: 0;
    flex-grow: 1;
    padding-bottom: 5px;
  }

  .cards-people__info {
    display: flex;
    flex-direction: column;
  }

  .cards-people__tags {
    width: 224px;
    margin-bottom: 45px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    padding-left: 3px;
  }

  .cards-people__actions {
    order: 3;
    margin-top: auto;
    display: flex;
  }

  .cards-people__likes {
    position: static;
    padding-left: 56px;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
  }

  .cards-people__country-wrapper {
    order: 1;
    width: 100%;
  }

  .cards-people__preferences-wrapper {
    margin-left: 3px;
  }

  .cards-people__country-wanted {
    margin-left: 40px;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
  }

  .cards-people__country-item {
    margin-bottom: 0;
    margin-right: 32px;
  }

  .cards-people__country-name {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
  }

  .cards-people__level {
    position: relative;
    height: 60px;
    width: 60px;
    border: 3px solid #ff8d30;
  }

  .cards-people__level::after {
    content: "level";
    position: absolute;
    top: 34px;
    left: 15px;
    border-top: 1px solid;
    color: rgb(68, 68, 68);
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
  }


  .cards-people__transport-level-wrapper {
    position: absolute;
    top: 33px;
    right: 26px;
    display: block;
  }

  .cards-people__avatar {
    border-radius: 15px;
    width: 190px;
  }

  .cards-people__counties-list {
    display: flex;
  }

  .cards-people__transport {
    display: none;
  }

  .cards-people__level-title {
    display: none;
  }

  .cards-people__button {
    position: static;
    width: 146px;
    color: #161c36;
    border-radius: 25px;
    font-family: $bloggersans;
  }

  .cards-people__show-more {
    margin-bottom: 48px;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
  }

  .people-paginator {
    display: flex;
    justify-content: space-between;
    margin-bottom: 122px;
    padding: 25px 24px 18px 28px;
    background-color: #ffffff;
    border-radius: 20px;
  }

  .people-paginator-list {
    @include reset-list;
    display: flex;
  }

  .people-paginator-link {
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;
    color: $midnight;
    text-decoration: none;
    border-radius: 50%;
  }

  .people-paginator--current {
    background-color: $yellow;
  }

  .people-paginator__button {
    position: relative;
    width: 35px;
    padding: 0;
    border-radius: 0;
    margin: 0;
  }

  .people-paginator__button--prev {
    margin-right: 1px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .people-paginator__button--next {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .people-paginator__button--prev::before {
    right: 16px;
  }

  .people-paginator__button--next::before {
    left: 16px;
  }
}

@media (min-width: $desktop-width) {
  .cards-people {
    display: flex;
  }

  .cards-people__filter {
    order: 2;
  }

  .cards-people__list {
    margin-right: 85px;
    margin-bottom: 67px;
  }

  .cards-people__item {
    display: flex;
    flex-wrap: wrap;
    width: 950px;
    padding: 0 45px 0 0;
    margin-bottom: 30px;
  }

  .cards-people__avatar {
    border-radius: 10px 0 0 10px;
    width: 285px;
  }

  .cards-people__info {
    padding: 50px 0 23px;
  }

  .cards-people__transport {
    position: static;
  }

  .cards-people__country-wrapper {
    display: block;
    width: 230px;
    padding-top: 50px;
  }

  .cards-people__country-wanted {
    display: none;
  }

  .cards-people__counties-list {
    display: block;
  }

  .cards-people__country-name {
    margin-bottom: 6px;
  }

  .cards-people__transport-level-wrapper {
    position: static;
    display: flex;
    order: 2;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
  }

  .cards-people__item-wrapper {
    display: flex;
    width: 285px;
    margin-left: 60px;
    flex-shrink: 0;
    flex-grow: 1;
  }

  .cards-people__preferences-wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 41px;
  }

  .people-paginator {
    width: 950px;
    box-sizing: border-box;
    padding-right: 32px;
    margin-bottom: 137px;
  }

  .cards-people__paginator-wrapper {
    margin-bottom: 60px;
    text-align: left;
  }

  .cards-people__show-more {
    margin-left: 396px;
    margin-bottom: 66px;
    padding-left: 0;
  }

  .people-paginator__button--prev::before {
    right: 16px;
  }

  .people-paginator__button--next::before {
    left: 16px;
  }
}
