.directions {
  position: relative;
  z-index: 15;
  padding: 102px 25px 105px;
  background-color: $coconut;
  border-radius: 0 0 30px 30px;
  margin-bottom: -60px;
}

.directions__text-box {
  margin-left: 25px;
  margin-bottom: 60px;
}


.directions__title {
  @include section-title;
  margin-bottom: 19px;
}

.directions__description {
  @include reset-margin-padding;
  @include section-text;
  width: 195px;
}

.directions__list {
  @include reset-list;
}

.directions__item {
  margin-bottom: 10px;
}

.directions__item-title {
  @include reset-margin-padding;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
}

.directions__item-img {
  width: 100%;
  background-size: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.directions__item-wrapper {
  position: relative;
  margin-top: -20px;

  border-radius: 10px;
  background-color: #ffffff;
}

.directions__slogan {
  color: $grey;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.directions__visitors {
  color: $grey;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
}

.directions__show-all {
  position: absolute;
  bottom: 25px;
  left: 25px;
  width: calc(100% - 50px);
  padding: 20px 0 26px 22px;
}

@media (min-width: $tablet-width) {
  .directions {
    padding: 102px 60px 200px 34px;
    background-color: $coconut;
    border-radius: 0 0 60px 60px;
  }

  .directions__title {
    margin-bottom: 59px;
  }

  .directions__wrapper {
    background-image: url("../../img/flags-back@1x.png");
    background-repeat: no-repeat;
    background-position: right 10px;
    background-size: 42%;
  }

  .directions__text-box {
    margin-left: 40px;
    margin-bottom: 65px;
  }

  .directions__description {
    width: 339px;
  }

  .directions__list {
    padding: 40px 35px 0 40px;
  }

  .directions__item {
    display: flex;
  }

  .directions__item-img {
    width: 186px;
    order: 2;
    border-radius: 0 20px 20px 0;
  }

  .directions__item-wrapper {
    flex-grow: 1;
    margin-top: 0;
    border-radius: 20px 0 0 20px;
  }

  .directions__show-all {
    position: absolute;
    bottom: 80px;
    left: 75px;
    width: calc(100% - 150px);
    padding: 20px 0 26px 22px;
  }
}


@media (min-width: $desktop-width) {
  .directions {
    padding: 191px 60px 72px 130px;
    background-color: $coconut;
    border-radius: 0 0 60px 60px;
  }

  .directions__wrapper {
    display: flex;
    padding: 0;
    background-image: url("../../img/flags-back@1x.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 20%;
  }

  .directions__text-box {
    order: 2;
    margin-top: 5px;
  }

  .directions__list {
    box-sizing: border-box;
    width: 560px;
    padding: 0;
    margin-right: 131px;
  }

  .directions__show-all {
    position: static;
    width: 274px;
    padding: 20px 0 26px 22px;
  }

  .directions__description {
    margin-bottom: 98px;
  }

  .directions__show-all {
    padding: 30px 0 26px 37px
  }


}
