.filter {
  height: 82px;
  margin-bottom: 23px;
  border-radius: 0 0 20px 20px;
  background-color: #e2e5f2;
}

@media (min-width: $tablet-width) {
  .filter {
    height: 194px;
    margin-bottom: 46px;
    border-radius: 0 0 60px 60px;
  }
}
