.form {
  position: relative;
  height: 534px;
  margin-bottom: -30px;
  background-color: $midnight;
  border-radius: 0 0 30px 30px;
}

@media (min-width: $tablet-width) {
  .form {
    height: 772px;
    margin-bottom: -60px;
    border-radius: 0 0 60px 60px;
  }
}

@media (min-width: $desktop-width) {
  .form {
    height: 810px;
    border-radius: 0 0 60px 60px;
  }
}
