.map {
  height: 538px;
  background-color: $yellow;
}

@media (min-width: $tablet-width) {
  .map {
    height: 909px;
    background-color: $yellow;
  }
}

@media (min-width: $desktop-width) {
  .map {
    height: 713px;
    background-color: $yellow;
  }
}
