.navigation {
  background-color: #ffffff;
}

@media (min-width: $tablet-width) {

}

@media (min-width: $desktop-width) {
  .navigation {
    background-color: transparent;
  }

  .navigation__logo {
    display: none;
  }

  .navigation__site {
    color: #ffffff;
  }

  .navigation__close {
    display: none;
  }

  .navigation__user {
    display: none;
  }

  .navigation__social {
    display: none;
  }
}
