.site-navigation {
  @include reset-list;
}

.site-navigation__link {
  color: #192144;
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
}


@media (min-width: $desktop-width) {
  .navigation__site {
    display: flex;
    justify-content: space-between;
  }

  .site-navigation__link {
    margin-right: 36px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
  }
}
