.steps {
  @include reset-list;
}

.steps__item {
  position: relative;
  text-align: left;
  background-color: #ff8d30;
  margin: 0;
  padding: 23px 0 31px 25px;
  color: #161c35;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  border-radius: 10px 10px 0 0;

  &:not(:first-child) {
    margin-top: -10px;
  }

  &:last-child {
    border-radius: 10px;
    padding-bottom: 21px;
  }

  &:nth-child(1) {
    background-color: rgb(255, 141, 48);
  }

  &:nth-child(2) {
    background-color: rgb(255, 165, 48);
  }

  &:nth-child(3) {
    background-color: rgb(255, 189, 48);
  }

  &:nth-child(4) {
    background-color: rgb(255, 215, 75);
  }

  &::after {
    position: absolute;
    top: 23px;
    right: 23px;
    content: attr(block-id);
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
  }
}

.steps__title {
  display: block;
  width: 140px;
}

@media (min-width: $tablet-width) {
  .steps {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .steps__item {
    padding: 31px 0 62px 34px;
    margin-top: 0;
    flex-grow: 1;
    flex-basis: 315px;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;

    &:not(:first-child) {
      margin-top: 0;
    }

    &:nth-child(1n) {
      flex-basis: 353px;
      border-radius: 20px 20px 0 0;
    }

    &:nth-child(2n) {
      flex-basis: 300px;
      margin-left: -53px;
      border-radius: 20px 20px 0 0;
    }

    &:nth-child(2) {
      border-radius: 20px 20px 0 0;
    }

    &:last-child {
      border-radius: 0 0 20px 20px;
    }

    &:nth-child(n + 3) {
      border-radius: 0 20px 0 20px;
     }

    &:nth-child(n + 4) {
      border-radius: 0 0 20px 20px;
    }

    &::after {
      position: absolute;
      right: auto;
      top: auto;
      bottom: 23px;
      left: 33px;
      content: attr(block-id);
      color: #ffffff;
      font-size: 30px;
      font-weight: 700;
      line-height: 30px;
    }
  }

  .steps__title {
    width: 190px;
  }
}

@media (min-width: $desktop-width) {
  .steps__item {
    padding: 30px 0 30px 34px;
    margin-top: 0;
    flex-grow: 1;

    &:nth-child(n) {
      flex-basis: 300px;
      margin-top: 0;
    }

    &:not(:first-child) {
      margin-left: -15px;
      border-radius: 10px 10px 0 0;
    }

    &:nth-child(4n) {
      box-sizing: border-box;
      width: 315px;
      flex-grow: 0;
      margin-top: 0;
    }

    &::after {
      position: absolute;
      bottom: auto;
      left: auto;
      right: 33px;
      top: -20px;
      content: attr(block-id);
      color: #ffffff;
      font-size: 24px;
      font-weight: 700;
      line-height: 120px;
    }
  }
}
