.title {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: -30px;
  padding-top: 10px;
  background-color: $midnight;
  border-radius: 0 0 20px 20px;
}

.title__text {
  position: relative;
  margin-bottom: -2px;
  padding: 0 0 5px;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  color: #ffffff;
  letter-spacing: 1.5px;
  border-bottom: 6px solid #ff8d30;
}

.title__link {
  display: none;
}

@media (min-width: $tablet-width) {
  .title {
    padding: 70px 144px 0 77px;
    align-items: center;
    margin-bottom: -60px;
    border-radius: 0 0 60px 60px;
  }

  .title__text {
    font-size: 60px;
    font-weight: 700;
    line-height: 95px;
    padding: 0 0 46px;
    letter-spacing: 2.5px;
  }

  .title__link {
    color: #ffffff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
  }
}

@media (min-width: $desktop-width) {
  .title__text {
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
  }

  .title {
    padding: 120px 120px 65px 120px;
    border-radius: 0 0 60px 60px;
  }
}
