.user-navigation {
  @include reset-list;
}

.user-navigation__link {
  color: #192144;
  font-family: "Blogger Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  text-decoration: none;
}
