@font-face {
  font-family: "bloggersans";
  src: url("../../fonts/bloggersans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "bloggersans";
  src: url("../../fonts/bloggersans-italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}


@font-face {
  font-family: "bloggersans";
  src: url("../../fonts/bloggersans-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "bloggersans";
  src: url("../../fonts/bloggersans-bolditalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "bloggersans";
  src: url("../../fonts/bloggersans-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "bloggersans";
  src: url("../../fonts/bloggersans-lightitalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "bloggersans-medium";
  src: url("../../fonts/bloggersans-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "bloggersans-mediumitalic";
  src: url("../../fonts/bloggersans-mediumitalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}
