body {
  margin: 0;
  padding: 0;
  font-family: "bloggersans", "Arial", sans-serif;
  color: #444444;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding: 0 25px;
}

.page-wrapper {
  background-color: $coconut;
}

@media (min-width: $tablet-width) {
  .container {
    padding: 0 40px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    padding: 0 60px;
  }
}
