$orange: #ff8d30;
$midnight: #161c36;
$coconut: #edeff6;
$grey: #444444;
$yellow: #ffd74b;
$lavender: #e2e5f2;

$tablet-width: 768px;
$desktop-width: 1200px;

//fonts

$bloggersans: "bloggersans", "Arial", sans-serif;
